<h1>Books#index</h1>

<form action="/books" method="post">
  <input type"text" name="book[name]" value"">
  <input type="submit" name="submit" value="Save">
</form>

<% @books.each do |book| %>
<p>
  <a href="/books/<%= book.id %>"><%= book.name %></a>
</p>
<% end %>
